%section#introduction
  .container
    .row.fill-viewport.align-items-center.justify-content-center
      .col-12.col-md-6
        .row
          .col-md-auto
            %h1.text-white.title
              = I18n.t("title")
        .row
          %p.lead.text-white-70
            = I18n.t("game_description")
        %hr.mb-4/
        %form{action: "", method: "post"}
          .form-group
            %label.lead.label{for: "player_name"}
              = I18n.t("label.player_name")
            %input#player_name.form-control{autofocus: "", name: "player_name", pattern: "^[\\w\\u0400-\\u04ff]{3,20}$", placeholder: I18n.t("placeholder.name"), required: ""}/
          .form-group
            %label.lead.label{for: "level"}
              = I18n.t("label.game_level")
            %select.custom-select{name: "level", required: ""}
              %option{value: ""}
                = I18n.t("placeholder.level")
                - Codebreaker::Game::DIFFICULTIES.keys.each do |level|
                  %option{value: level.to_s}
                    = level.to_s.capitalize
          %hr.mb-4/
          %button.btn.btn-primary.btn-lg{type: "submit"}
            = I18n.t("button.start_game")
          %span.float-right
            %a.btn.btn-warning.btn-lg{href: "/rules", role: "button"}
              = I18n.t("button.rules")
            %a.btn.btn-success.btn-lg{href: "/statistics", role: "button"}
              = I18n.t("button.statistics")